<!--
/**
* @author : Dulanjana Lakshan
* @since : 0.1.0
**/
-->
body {
    background-color: black;
    list-style: none;
}

/*-----header css Start-------*/
header {
    position: fixed;
    height: 60px;
    width: 100%;
}

header > nav {
    position: absolute;
    right: 30px;
    top: 0;
}

header > nav > ul {
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
    text-shadow: 1px 2px 5px black;
}

#brand {
    font-size: 42px;
    text-decoration: none;
    color: white;
    font-family: 'Special Elite', cursive;
    top: 12px;
    position: absolute;
    left: 30px;
}

#brand:first-letter {
    color: red;
    font-size: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.84);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #808080;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_mobile {
    display: none;
}

/*-----header css End-------*/

/*--------------------------main background-----------------------------*/
#background_section {
    height: 948px;
    background-image: url("../image/my_background.jpg");
    background-size: cover;
    background-position: center;
}

#name {
    position: relative;
}

#name1 {
    position: absolute;
    top: 360px;
    left: 70px;
    color: white;
    font-size: 90px;
}

#name2 {
    position: absolute;
    top: 360px;
    left: 562px;
    color: white;
    font-size: 90px;
}

#name3 {
    position: absolute;
    top: 513px;
    left: 385px;
    color: white;
    font-size: 30px;
}

.name_an:first-letter {
    color: red;
    font-size: 115px;
}

#icon {
    position: absolute;
    display: flex;
    top: 590px;
    left: 296px;
    width: 401px;
    justify-content: space-around;
}

.icon_img {
    width: 65px;
    height: 65px;
}

.icon_div:nth-child(2) {
    left: 402px;
}

.icon_div:nth-child(3) {
    left: 513px;
}

.icon_div:nth-child(4) {
    left: 616px;
}

/*--------------------------main background end-----------------------------*/
/*--------------------------services-----------------------------*/
#services {
    position: relative;
    height: 737px;
    display: flex;
}

#ser_h1 {
    color: white;
    position: absolute;
    top: 16px;
    left: 768px;
    margin: auto;
    font-family: 'Ultra', serif;
    font-size: 50px;
}

.ser_section {
    position: absolute;
    height: 629px;
    width: 88%;
    top: 129px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    right: 0;
    left: 0;
    margin: auto;
}

.ser_section > div {
    width: 100%;
    height: 100%;
    color: white;
}

.ser_img_div {
    position: relative;
    top: 50px;
    left: 35%;
}

#h1_1 {
    position: relative;
    padding-left: 141px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_2 {
    position: relative;
    padding-left: 177px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_3 {
    position: relative;
    padding-left: 142px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_4 {
    position: relative;
    padding-left: 140px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_5 {
    position: relative;
    padding-left: 105px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_6 {
    position: relative;
    padding-left: 99px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

/*--------------------------services End-----------------------------*/
/*--------------------------Responsive-----------------------------*/
@media all and (max-width: 425px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        right: 12px;
        left: 315px;
    }

    #ser_h1 {
        left: 74px;
    }

    #background_section {
        width: 100%;
        background-position: 702px;
        height: 749px;
    }

    #name1 {
        top: 335px;
        left: 11px;
        font-size: 40px;
    }

    #name2 {
        top: 395px;
        left: 125px;
        font-size: 40px;
        text-shadow: 5px 3px 4px black;
    }

    #name3 {
        top: 469px;
        left: 23px;
        font-size: 22px;
    }

    .name_an:first-letter {
        font-size: 60px;
    }

    .icon_img {
        width: 40px;
        height: 40px;
    }

    #icon {
        top: 539px;
        left: 23px;
        width: 203px;
        justify-content: flex-start;
    }


    #services {
        height: 1500px;
    }


    .ser_section {
        height: 1465px;
        top: 31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 68px;
        padding-top: 45px;
    }

    #h1_2 {
        padding-left: 108px;
        padding-top: 45px;
    }

    #h1_3 {
        padding-left: 69px;
        padding-top: 45px;
    }

    #h1_4 {
        padding-left: 80px;
        padding-top: 45px;
    }

    #h1_5 {
        padding-left: 38px;
        padding-top: 45px;
    }

    #h1_6 {
        padding-left: 7px;
        padding-top: 45px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        left: 636px;
    }

    #background_section {
        height: 749px;
        background-position: 903px;
        width: 100%;
    }

    #name1 {
        top: 320px;
        left: 11px;
        font-size: 50px;
    }

    #name2 {
        top: 400px;
        left: 180px;
        font-size: 50px;
    }

    #name3 {
        top: 500px;
        left: 31px;
        font-size: 26px;
    }

    .name_an:first-letter {
        font-size: 83px;
    }

    #icon {
        top: 561px;
        left: 76px;
        width: 203px;
        justify-content: flex-start;
    }

    #services {
        height: 737px;
        display: flex;
    }

    #ser_h1 {
        left: 235px;
    }

    .ser_section {
        height: 726px;
        top: 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        right: 0;
        left: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 68px;
    }

    #h1_2 {
        padding-left: 104px;
    }

    #h1_3 {
        padding-left: 66px;
    }

    #h1_4 {
        padding-left: 96px;
    }

    #h1_5 {
        padding-left: 26px;
    }

    #h1_6 {
        padding-left: 48px;
    }
}
@media all and (min-width: 425px) and (max-width: 768px) {
    #ser_h1 {
        left: 143px;
    }
}
@media all and (min-width: 768px) and (max-width: 1024px) {
    #background_section {
        height: 750px;
        width: 100%;
    }

    #name1 {
        top: 282px;
        left: 31px;
        font-size: 70px;
    }

    #name2 {
        top: 377px;
        left: 239px;
        font-size: 70px;
    }

    #name3 {
        top: 454px;
        left: 37px;
        font-size: 28px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }

    #icon {
        top: 548px;
        left: 155px;
    }

    #services {
        height: 737px;
        display: flex;
    }

    #ser_h1 {
        top: 31px;
        left: 351px;
    }

    .ser_section {
        height: 726px;
        top: 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        right: 0;
        left: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 92px;
        padding-top: 45px;
    }

    #h1_2 {
        padding-left: 131px;
        padding-top: 45px;
    }

    #h1_3 {
        padding-left: 101px;
        padding-top: 45px;
    }

    #h1_4 {
        padding-left: 97px;
        padding-top: 45px;
    }

    #h1_5 {
        padding-left: 60px;
        padding-top: 45px;
    }

    #h1_6 {
        padding-left: 37px;
        padding-top: 45px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
    #background_section {
        height: 808px;
    }

    #name1 {
        top: 356px;
        left: 91px;
        font-size: 70px;
    }

    #name2 {
        top: 445px;
        left: 385px;
        font-size: 70px;
    }

    #name3 {
        top: 512px;
        left: 111px;
        font-size: 35px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }

    #icon {
        top: 610px;
        left: 263px;
    }

    #ser_section {
        width: 90%;
    }

    #ser_section2 {
        width: 90%;
    }

    #ser_h1 {
        top: 73px;
        left: 585px;
    }

    #h1_1 {
        padding-left: 110px;
    }

    #h1_2 {
        padding-left: 136px;
    }

    #h1_3 {
        padding-left: 99px;
    }

    #h1_4 {
        padding-left: 100px;
    }

    #h1_5 {
        padding-left: 66px;
    }

    #h1_6 {
        padding-left: 52px;
    }
}