<!--
/**
* @author : Dulanjana Lakshan
* @since : 0.1.0
**/
-->
body {
    background-color: black;
    list-style: none;
}

/*-----header css Start-------*/
header {
    position: relative;
    height: 60px;
}

header > nav > ul {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    transition: all 1s;
    font-size: 25px;
}

header > nav > ul > li > a:hover {
    color: rgb(43, 43, 43);
    transition: all 1s;
}

#brand {
    font-size: 35px;
    text-decoration: none;
    color: white;
    font-family: Calibri;
    top: 7px;
    position: absolute;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.84);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #808080;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_mobile {
    display: none;
}

/*-----header css End-------*/


#background_section {
    height: 900px;
    background-image: url("../image/my_background.jpg");
    background-size: cover;
    background-position: center;
}

#name {
    position: relative;
}

#name1 {
    position: absolute;
    top: 360px;
    left: 70px;
    color: white;
    font-size: 90px;
}

#name2 {
    position: absolute;
    top: 360px;
    left: 562px;
    color: white;
    font-size: 90px;
}

#name3 {
    position: absolute;
    top: 513px;
    left: 385px;
    color: white;
    font-size: 30px;
}

.name_an:first-letter {
    color: red;
    font-size: 115px;
}

#icon {
    position: absolute;
    display: flex;
    top: 590px;
    left: 360px;
}

.icon_img {
    width: 65px;
    height: 65px;
}

.icon_div:nth-child(2) {
    left: 402px;
}

.icon_div:nth-child(3) {
    left: 513px;
}

.icon_div:nth-child(4) {
    left: 616px;
}


/*--------------------------Responsive-----------------------------*/
@media all and (max-width: 425px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        right: 12px;
    }

    #background_section {
        width: 100%;
        background-position: 702px;
        height: 749px;
    }

    #name1 {
        top: 335px;
        left: 11px;
        font-size: 40px;
    }

    #name2 {
        top: 395px;
        left: 125px;
        font-size: 40px;
        text-shadow: 5px 3px 4px black;
    }

    #name3 {
        top: 469px;
        left: 23px;
        font-size: 22px;
    }

    .name_an:first-letter {
        font-size: 60px;
    }

    .icon_img {
        width: 40px;
        height: 40px;
    }
    #icon {
        top: 539px;
        left: 23px;
    }

}

@media all and (min-width: 425px) and (max-width: 768px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        right: 12px;
    }

    #background_section {
        height: 749px;
        background-position: 903px;
        width: 100%;
    }

    #name1 {
        top: 320px;
        left: 11px;
        font-size: 50px;
    }

    #name2 {
        top: 400px;
        left: 180px;
        font-size: 50px;
    }

    #name3 {
        top: 500px;
        left: 31px;
        font-size: 26px;
    }

    .name_an:first-letter {
        font-size: 83px;
    }
    #icon {
        top: 561px;
        left: 76px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #background_section {
        height: 750px;
        width: 100%;
    }

    #name1 {
        top: 282px;
        left: 31px;
        font-size: 70px;
    }

    #name2 {
        top: 377px;
        left: 239px;
        font-size: 70px;
    }

    #name3 {
        top: 454px;
        left: 37px;
        font-size: 28px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }
    #icon {
        top: 548px;
        left: 155px;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
    #background_section {
        height: 808px;
    }

    #name1 {
        top: 356px;
        left: 91px;
        font-size: 70px;
    }

    #name2 {
        top: 445px;
        left: 385px;
        font-size: 70px;
    }

    #name3 {
        top: 512px;
        left: 111px;
        font-size: 35px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }
    #icon {
        top: 610px;
        left: 263px;
    }
}