body {
    background-color: black;
    overflow: hidden;
}

header > nav > ul > li > a {
    text-decoration: none;
    color: white;
    font-size: 25px;
}

header {
    padding: 0 20px;
    height: 60px;
    display: flex;
    justify-content: space-between;
}

header > nav > ul {
    list-style: none;
    height: 100%;
    display: flex;
    margin: 0;
    align-items: center;
    justify-content: space-around;
}

header > nav > ul > li {
    padding: 30px;
    margin-left: 10px;
}

#brand {
    font-weight: bold;
    font-size: 35px;
    display: flex;
    align-items: center;
}

#brand > a {
    color: white;
    text-decoration: none;
}

header > nav > ul > li > a:hover {
    color: red;
    transition: all 1s;
    font-size: 30px;
}

#hamberger_icon {
    margin: 0;
    display: none;
}


.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: red;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_mobile {
    display: none;
}

#main_section {
    position: relative;
    height: 919px;
    background-image: url("../image/my_background.png");
    background-size: cover;
}

#main_name {
    position: absolute;
    color: white;
    top: 341px;
    left: 72px;
    font-size: 109px;
}

.name::first-letter {
    color: red;
    font-size: 150px;
}

#main_name2 {
    position: absolute;
    color: white;
    top: 341px;
    left: 650px;
    font-size: 109px;
}

#name_h3 {
    position: absolute;
    color: white;
    top: 550px;
    left: 390px;
    font-size: 35px;
}

#sochal_id {
    position: absolute;
    display: flex;
    width: 400px;
    height: 70px;
    bottom: 200px;
    left: 340px;
}

.socal_class {
    width: 70px;
    padding-right: 25px;
    padding-top: 0px;
}


@media all and (max-width: 450px) {
    #menu_mobile {
        position: absolute;
        display: flex;
        top: 15px;
    }

    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }

    #brand {
        position: absolute;
        top: 12px;
        right: 10px;
        font-size: 30px;
    }

    header > nav {
        display: none;
    }

    #main_name {
        top: 85px;
        left: 20px;
        font-size: 20px;
    }

    #main_name2 {
        top: 85px;
        left: 140px;
        font-size: 20px;
    }

    .name::first-letter {
        font-size: 40px;
    }

    #sochal_id {
        left: 65px;
        top: 170px;
        width: 114px;
        height: 22px;
    }

    #name_h3 {
        top: 125px;
        left: 60px;
        font-size: 17px;
    }

    .socal_class {
        width: 20px;
        padding-right: 10px;
    }
    #main_section {
        height: 253px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {

}

@media all and (min-width: 768px) and (max-width: 1440px) {
    header > nav > ul > li > a {
        font-size: 13px;
    }

    #brand {
        font-size: 22px;
    }

    header > nav > ul > li {
        padding: 15px;
    }

    header > nav > ul > li > a:hover {
        font-size: 15px;
    }

    #menu_mobile {
        display: none;
    }

    #main_name {
        top: 250px;
        left: 110px;
        font-size: 65px;
    }

    #main_name2 {
        top: 250px;
        left: 440px;
        font-size: 65px;
    }

    .name::first-letter {
        font-size: 85px;
    }

    #main_section {
        height: 693px;
    }

    #sochal_id {
        left: 310px;
    }

    #name_h3 {
        top: 360px;
        left: 335px;
        font-size: 25px;
    }

    .socal_class {
        width: 40px;
    }
}