/* header start */

header {
    position: relative;
    height: 50px;
    background-color: #191517;
    background-size: cover;
}

header>ul {
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    list-style: none;
    color: #4a3a3a;
}

header>ul>li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

header>ul>li:hover {
    cursor: pointer;
    color: red;
}

header>h2 {
    margin: 0;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}

header>ul>li>a {
    text-decoration: none;
    color: white;
}

header>ul>li>a:hover {
    color: red;
}


/* header end */


/* main background image edit start */

#main_section {
    height: 1000px;
    position: relative;
}

#main_Div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../Image/background.jpg);
    background-size: cover;
}


/* main background image edit end */


/* main background my image and details start */

#main_img {
    position: absolute;
    bottom: 0;
}

#background_text {
    position: absolute;
    right: 150px;
    top: 45%;
    margin: auto;
}

body>main>section>section>h1 {
    font-size: 60px;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    margin-bottom: 0;
    font-family: 'Lemonada', cursive;
}

body>main>section>section>h4 {
    color: white;
    text-shadow: 2px 2px 4px #000000;
    font-size: 35px;
    margin-top: 0;
    font-family: 'Niconne', cursive;
}


/* main background my image and details end */