<!--
/**
* @author : Dulanjana Lakshan
* @since : 0.1.0
**/
-->
body {
    background-color: black;
    list-style: none;
}

/*-----header css Start-------*/
header {
    z-index: 1;
    position: fixed;
    height: 60px;
    width: 100%;
}

header > nav {
    position: absolute;
    right: 30px;
    top: 0;
}

header > nav > ul {
    list-style: none;
}

header > nav > ul > li {
    display: inline-block;
    padding: 0 20px 0 10px;
}

header > nav > ul > li > a {
    text-decoration: none;
    font-weight: bold;
    color: white;
    font-size: 30px;
    text-shadow: 1px 2px 5px black;
    transition: 0.5s;
}

header > nav > ul > li > a:hover {
    color: red;
    font-weight: bold;
    transition: 1s;
}

#brand {
    font-size: 42px;
    text-decoration: none;
    color: white;
    font-family: 'Special Elite', cursive;
    top: 12px;
    position: absolute;
    left: 30px;
}

#brand:first-letter {
    color: red;
    font-size: 50px;
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: #808080;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#menu_mobile {
    display: none;
}

/*-----header css End-------*/

/*--------------------------main background-----------------------------*/
#background_section {
    height: 948px;
    background-image: url("../image/my_background.jpg");
    background-size: cover;
    background-position: center;
}

#name {
    position: relative;
}

#name1 {
    position: absolute;
    top: 360px;
    left: 70px;
    color: white;
    font-size: 90px;
}

#name2 {
    position: absolute;
    top: 360px;
    left: 562px;
    color: white;
    font-size: 90px;
}

#name3 {
    position: absolute;
    top: 513px;
    left: 385px;
    color: white;
    font-size: 30px;
}

.name_an:first-letter {
    color: red;
    font-size: 115px;
}

#icon {
    position: absolute;
    display: flex;
    top: 590px;
    left: 296px;
    width: 401px;
    justify-content: space-around;
}

.icon_img {
    width: 65px;
    height: 65px;
}

.icon_div:nth-child(2) {
    left: 402px;
}

.icon_div:nth-child(3) {
    left: 513px;
}

.icon_div:nth-child(4) {
    left: 616px;
}

/*--------------------------main background end-----------------------------*/
/*--------------------------services-----------------------------*/
#services {
    position: relative;
    height: 737px;
    display: flex;
}

#ser_h1 {
    position: absolute;
    color: white;
    left: 90px;
    top: 25px;
    margin: auto;
    font-size: 40px;
    border-bottom: 3px solid red;
}

@keyframes ser_h1 {
    from {
        border-bottom: 0px;
    }
    to {
        border-bottom: 6px solid red;
    }
}

.ser_section {
    position: absolute;
    height: 629px;
    width: 88%;
    top: 129px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    right: 0;
    left: 0;
    margin: auto;
}

.ser_section > div {
    width: 100%;
    height: 100%;
    color: white;
}

.ser_img_div {
    position: relative;
    top: 50px;
    left: 35%;
}

#h1_1 {
    position: relative;
    padding-left: 141px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_2 {
    position: relative;
    padding-left: 177px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_3 {
    position: relative;
    padding-left: 142px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_4 {
    position: relative;
    padding-left: 140px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_5 {
    position: relative;
    padding-left: 105px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

#h1_6 {
    position: relative;
    padding-left: 99px;
    padding-top: 45px;
    font-size: 25px;
    margin: auto;
}

/*--------------------------services End-----------------------------*/
/*--------------------------About Section-----------------------------*/
#about_section {
    position: relative;
    height: 950px;
    display: flex;
}

#about_section > div {
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 853px;
    height: 60%;
}

.block {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 536px;
    height: 536px;
    background: black;
}

.block:before, .block:after {
    content: '';
    position: absolute;
    left: -2px;
    top: -2px;
    background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00, #ffff00, #ff0000, #fb0094,
    #0000ff, #00ff00, #ffff00, #ff0000);
    background-size: 400%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    z-index: -1;
    animation: steam 20s linear infinite;
}

@keyframes steam {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}

.block:after {
    filter: blur(10px);
}

#about_image {
    width: 535px;
}

#about_h1 {
    position: absolute;
    color: white;
    left: 329px;
    top: 25px;
    margin: auto;
    font-size: 40px;
    border-bottom: 3px solid red;
}

#about_details {
    height: 470px;
    position: absolute;
    width: 100%;
    bottom: 0;
    border-radius: 118px;
}

#about_h2 {
    position: absolute;
    color: white;
    top: 25px;
    margin: auto;
    font-size: 30px;
}

#about_p {
    position: absolute;
    color: white;
    top: 94px;
    margin: auto;
    font-size: 26px;
    font-family: 'Dancing Script', cursive;
}

#h3_1 {
    color: white;
    position: absolute;
    bottom: 177px;
    left: 49px;
}

#h3_2 {
    color: white;
    position: absolute;
    bottom: 177px;
    right: 174px;
}

#h3_3 {
    color: white;
    position: absolute;
    bottom: 107px;
    left: 49px;
}

#h3_4 {
    color: white;
    position: absolute;
    bottom: 107px;
    right: 174px;
}

#h3_5 {
    color: white;
    position: absolute;
    bottom: 46px;
    right: 271px;
}

/*--------------------------About Section End-----------------------------*/
/*--------------------------Responsive-----------------------------*/
@media all and (max-width: 425px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        right: 12px;
        left: 315px;
    }

    #ser_h1 {
        left: 74px;
    }

    #background_section {
        width: 100%;
        background-position: 724px;
        height: 810px;
    }
    #name1 {
        top: 335px;
        left: 11px;
        font-size: 40px;
    }

    #name2 {
        top: 395px;
        left: 125px;
        font-size: 40px;
        text-shadow: 5px 3px 4px black;
    }

    #name3 {
        top: 469px;
        left: 23px;
        font-size: 22px;
    }

    .name_an:first-letter {
        font-size: 60px;
    }

    .icon_img {
        width: 40px;
        height: 40px;
    }

    #icon {
        top: 539px;
        left: 23px;
        width: 203px;
        justify-content: flex-start;
    }


    #services {
        height: 1500px;
    }


    .ser_section {
        height: 1465px;
        top: 31px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        bottom: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 68px;
        padding-top: 45px;
    }

    #h1_2 {
        padding-left: 108px;
        padding-top: 45px;
    }

    #h1_3 {
        padding-left: 69px;
        padding-top: 45px;
    }

    #h1_4 {
        padding-left: 80px;
        padding-top: 45px;
    }

    #h1_5 {
        padding-left: 38px;
        padding-top: 45px;
    }

    #h1_6 {
        padding-left: 7px;
        padding-top: 45px;
    }
    #about_section {
        height: 1100px;
        flex-direction: column;
    }
    #about_image {
        width: 282px;
    }
    .block {
        width: 282px;
        height: 285px;
        left: 69px;
        top: 141px;
        margin: 0;
    }
    #about_h1 {
        left: 112px;
        top: -521px;
    }
    #about_details {
        height: 590px;
        width: 100%;
        top: -88px;
    }
    #about_h2 {
        top: 16px;
        font-size: 25px;
    }
    #about_p {
        top: 77px;
        font-size: 22px;
    }
    #h3_1 {
        bottom: 305px;
        left: 14px;
    }
    #h3_2 {
        bottom: 250px;
        left: 15px;
    }
    #h3_3 {
        bottom: 191px;
        left: 13px;
    }
    #h3_4 {
        bottom: 135px;
        left: 13px;
    }
    #h3_5 {
        bottom: 65px;
        left: 13px;
    }
    #ser_h1 {
        left: 94px;
        top: -50px;
    }
    #about_section > div {
        width: 398px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    #menu_mobile {
        display: flex;
    }

    header > nav {
        display: none;
    }

    #brand {
        position: absolute;
        top: 0;
        left: 636px;
    }

    #background_section {
        height: 749px;
        background-position: 903px;
        width: 100%;
    }

    #name1 {
        top: 320px;
        left: 11px;
        font-size: 50px;
    }

    #name2 {
        top: 400px;
        left: 180px;
        font-size: 50px;
    }

    #name3 {
        top: 500px;
        left: 31px;
        font-size: 26px;
    }

    .name_an:first-letter {
        font-size: 83px;
    }

    #icon {
        top: 561px;
        left: 76px;
        width: 203px;
        justify-content: flex-start;
    }

    #services {
        height: 737px;
        display: flex;
    }

    #ser_h1 {
        left: 235px;
    }

    .ser_section {
        height: 726px;
        top: 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        right: 0;
        left: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 68px;
    }

    #h1_2 {
        padding-left: 104px;
    }

    #h1_3 {
        padding-left: 66px;
    }

    #h1_4 {
        padding-left: 96px;
    }

    #h1_5 {
        padding-left: 26px;
    }

    #h1_6 {
        padding-left: 48px;
    }
}

@media all and (min-width: 425px) and (max-width: 768px) {
    #background_section {
        height: 810px;
    }

    #ser_h1 {
        left: 261px;
        top: 4px;
    }

    #about_section > div {
        width: 724px;
    }

    #about_section {
        height: 1120px;
        flex-direction: column;
    }

    #about_h1 {
        left: 290px;
        top: -524px;
    }

    #about_details {
        height: 448px;
        top: 146px;
    }

    .block {
        left: 0;
        top: 279px;
    }

    #h3_1 {
        left: 10px;
    }

    #h3_2 {
        right: 10px;
    }

    #h3_3 {
        left: 10px;
    }

    #h3_4 {
        right: 10px;
    }

    #h3_5 {
        left: 10px;
    }
}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #background_section {
        height: 810px;
        width: 100%;
    }

    #name1 {
        top: 282px;
        left: 31px;
        font-size: 70px;
    }

    #name2 {
        top: 377px;
        left: 239px;
        font-size: 70px;
    }

    #name3 {
        top: 454px;
        left: 37px;
        font-size: 28px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }

    #icon {
        top: 548px;
        left: 155px;
    }

    #services {
        height: 737px;
        display: flex;
    }

    #ser_h1 {
        top: 31px;
        left: 351px;
    }

    .ser_section {
        height: 726px;
        top: 31px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        right: 0;
        left: 0;
        margin: auto;
    }

    #h1_1 {
        padding-left: 92px;
        padding-top: 45px;
    }

    #h1_2 {
        padding-left: 131px;
        padding-top: 45px;
    }

    #h1_3 {
        padding-left: 101px;
        padding-top: 45px;
    }

    #h1_4 {
        padding-left: 97px;
        padding-top: 45px;
    }

    #h1_5 {
        padding-left: 60px;
        padding-top: 45px;
    }

    #h1_6 {
        padding-left: 37px;
        padding-top: 45px;
    }

    #about_section {
        height: 1120px;
        flex-direction: column;
    }

    #about_h1 {
        left: 343px;
        top: -501px;
    }

    #about_details {
        height: 448px;
        top: 146px;
    }

    .block {
        left: 0;
        top: 279px;
    }

    #h3_1 {
        left: 0px;
    }

    #h3_2 {
        right: 0px;
    }

    #h3_3 {
        left: 0;
    }

    #h3_4 {
        right: 0px;
    }

    #h3_5 {
        left: 0;
    }
}

@media all and (min-width: 1024px) and (max-width: 1440px) {
    #background_section {
        height: 808px;
    }

    #name1 {
        top: 356px;
        left: 91px;
        font-size: 70px;
    }

    #name2 {
        top: 445px;
        left: 385px;
        font-size: 70px;
    }

    #name3 {
        top: 512px;
        left: 111px;
        font-size: 35px;
    }

    .name_an:first-letter {
        font-size: 100px;
    }

    #icon {
        top: 610px;
        left: 263px;
    }

    #ser_section {
        width: 90%;
    }

    #ser_section2 {
        width: 90%;
    }

    #ser_h1 {
        top: 73px;
        left: 585px;
    }

    #h1_1 {
        padding-left: 110px;
    }

    #h1_2 {
        padding-left: 136px;
    }

    #h1_3 {
        padding-left: 99px;
    }

    #h1_4 {
        padding-left: 100px;
    }

    #h1_5 {
        padding-left: 66px;
    }

    #h1_6 {
        padding-left: 52px;
    }

    #about_h1 {
        left: 491px;
        top: -89px;
    }

    .block {
        left: 30px;
    }

    #about_h1 {
        left: 115px;
        top: 23px;
    }

    #about_section > div {
        width: 623px;
    }

    #about_details {
        width: 117%;
        left: -61px;
    }

    #h3_1 {
        left: 0px;
    }

    #h3_2 {
        right: 108px;
    }

    #h3_3 {
        left: 0;
    }

    #h3_4 {
        right: 104px;
    }

    #h3_5 {
        left: 0;
    }
}