/* header start */

header {
    position: relative;
    height: 50px;
    background-image: url("/assets/Image/background.jpg");
    background-size: cover;
}

header>ul {
    position: absolute;
    right: 30px;
    bottom: 0;
    font-size: 15px;
    font-family: 'Lobster', cursive;
    list-style: none;
    color: #4a3a3a;
}

header>ul>li {
    padding: 0 10px 0 10px;
    display: inline-block;
}

header>ul>li:hover {
    cursor: pointer;
    color: red;
}

header>h2 {
    margin: 0;
    color: white;
    padding-top: 15px;
    padding-left: 15px;
}

header>ul>li>a {
    text-decoration: none;
    color: white;
}

header>ul>li>a:hover {
    color: red;
}


/* header end */


/* main background image edit start */

#main_section {
    height: 1000px;
    position: relative;
}

#main_Div {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url(../Image/background.jpg);
    background-size: cover;
}


/* main background image edit end */